.wrapper {
  display: flex;
  justify-content: center;
  height: 44px;
  width: 100%;
  background-color: var(--header-bar-color);

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--width-content);
    height: 100%;
  }

  .contact-info {
    display: flex;
    align-items: center;
    height: 100%;

    .contact-info-text {
      margin-right: 30px;
      color: var(--white-color);
      cursor: default;
    }
  }
}
